@charset "UTF-8";
/* ******************************************************************

	--home.css--

	1. Layout setting

****************************************************************** */


/*==================================================================
	1. Layout setting
===================================================================*/
.menuHeader img , .photo img{
	width: 100%;
	vertical-align: middle;
}
.keyvInner {
	display: flex;
}
.keyvInner .keyvDesc {
	width: 40%;
	margin-left: 5%;
}
.keyvInner .keyvImage {
	width: 60%;
	position: relative;
}
.keyvInner .keyvImage img {
	width: 100%;
	height: 100%;
}
.txtDetail1 {
	font-size: 17px;
	color: #fff;
	line-height: 1.5;
	margin-bottom: 35px;
}
.txtDetail2 {
	font-size: 33px;
	font-weight: bold;
	color: #fff;
	letter-spacing: 2px;
}
.btnLink {
	position: relative;
	font-size: 16px;
	font-weight: bold;
	color: #fff;
	line-height: 1.6;
	width: 100%;
	max-width: 244px;
	display: inline-block;
	background-color: #1659A3;
	text-align: center;
	padding: 22px 10px;
	border-radius: 39px;
	text-decoration: none;
	transition: 0.3s;
}
.btnLink:hover {
	opacity: 0.8;
	transition: 0.3s;
}
.btnLink::after {
	content: "";
	position: absolute;
	width: 8px;
	height: 8px;
	border-top: 2px solid #fff;
	border-left: 2px solid #fff;
	top: 50%;
	right: 30px;
	transform: translateY(-50%) rotate(135deg);
}
.groupButton {
	margin-right: -8px;
}
.groupButton .btnLink {
	margin-top: 42px;
	margin-right: 8px;
}
.keyvImage .cricle {
	position: absolute;
	display: flex;
    background-color: #1659A3;
    color: #fff;
    width: 162px;
    height: 162px;
    align-items: center;
    justify-content: center;
	border-radius: 50%;
	font-size: 25px;
}
.txtSymbol {
	font-size: 30px;
	font-weight: bold;
	color: #fff;
}
.serviceBlock {
	display: flex;
	align-items: center;
	justify-content: center;
}
.serviceBlock .image {
	width: 15%;
}
.serviceBlock .image img {
	width: 90%;
}
.serviceBlock .content {
	width: 80%;
	margin-left: 5%;
	font-size: 24px;
	font-weight: bold;
	line-height: 2.1;
}
.bgBlock {
	background-color: #F8F9FA;
	padding: 50px 0 50px;
	margin-bottom: 110px;
}
.buttonTabs {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	margin-bottom: 110px;
}
.buttonTabs li {
	margin: 0 15px;
}
.buttonTabs li a {
	color: #1659A3;
	text-decoration: none;
	padding: 10px 35px;
	background-color: #EDEDED;
	border-radius: 23px;
	font-size: 16px;
	font-weight: bold;
	display: inherit;
    align-items: center;
    justify-content: center;
	transition: 0.3s ease-in-out;
	width: 100%;
}
.buttonTabs li a:hover {
	transition: 0.3s ease-in-out;
	opacity: 0.8;
}
.descTabs .item {
	display: flex;
}
.descTabs .item .detail {
	width: 30%;
}
.descTabs .item .photo {
	width: 50%;
    margin-left: 10%;
    content: "";
    background-image: url(/img/common/bnr_name01.jpg);
    background-size: cover;
    position: absolute;
    right: 0;
    min-height: 435px;
    background-repeat: no-repeat;
    border-top-left-radius: 105px;
    border-bottom-left-radius: 105px;
}
.detailText {
	font-size: 16px;
	line-height: 2;
	margin-bottom: 65px;
}
.detail .btnLink {
	max-width: 365px;
	padding: 30px 10px;
}
.serviceTabs {
	position: relative;
}
.secTitle {
	text-align: center;
	margin-bottom: 60px;
	margin-top: 80px;
}
.secTitle .highlight {
	display: block;
	font-size: 20px;
	font-weight: bold;
	line-height: 1.4;
	color: #1659A3;
	margin-bottom: 20px;
}
.headline3 {
	font-size: 46px;
	color: #222222;
	font-weight: bold;
	position: relative;
	padding-bottom: 25px;
}
.headline3::after {
	content: "";
	position: absolute;
	height: 4px;
	width: 38px;
	background-color: #1563AE;
	left: 50%;
	transform: translateX(-50%);
	bottom: 0;
}
.teamBlock {
	display: flex;
	flex-wrap: wrap;
}
.teamBlock .item {
	width: 25%;
	background-color: #3F1E8B;
	text-align: center;
}
.teamBlock .item .labelText {
	display: inline-block;
	font-size: 17px;
	color: #fff;
	background-color: #2C1568;
	padding: 8px 30px;
	border-radius: 18px;
	margin-top: 65px;
	margin-bottom: 40px;
}
.teamBlock .item .txtDetail {
	color: #fff;
	font-size: 13px;
	font-weight: bold;
	text-align: center;
	line-height: 1.5;
	min-height: 60px;
}
.teamBlock .btnMore {
	display: block;
	color: #fff;
	font-size: 21px;
	font-weight: bold;
	text-decoration: none;
	background-color: rgba(0, 0, 0, 0.3);
	padding: 30px 0;
	position: relative;
}
.teamBlock .btnMore::after {
	content: "";
    position: absolute;
    width: 8px;
    height: 8px;
    border-top: 3px solid #fff;
    border-left: 3px solid #fff;
    top: 50%;
    right: 32px;
    transform: translateY(-50%) rotate(135deg);
}
.teamBlock .imgAvatar {
	margin-bottom: 25px;
	width: 116px;
    height: 116px;
    margin: 0 auto 25px;
}
.teamBlock .imgText {
	margin-bottom: 50px;
}
.teamBlock  .content {
	padding: 0 30px;
	margin-bottom: 75px;
}
.guideBlock {
	margin-bottom: 85px;
}
.guideBlock .txtDesc {
	text-align: center;
	margin-bottom: 55px;
}
.interface {
	display: flex;
	margin-bottom: 56px;
	margin-left: -40px;
    margin-right: -40px;
}
.interface .item {
	width: 50%;
	margin: 0 40px;
}
.interface .item img {
	width: 100%;
	height: 200px;
}
.interface .interImg {
	margin-bottom: 20px;
}
.txtTitle {
	color: #fff;
	background-color: #1659A3;
	border-radius: 10px;
	padding: 10px;
	text-align: center;
	margin-bottom: 20px;
	font-size: 25px;
}
.txtFunction {
	font-size: 16px;
	line-height: 1.9;	
}
.txtFunction::before {
	content: "";
	display: inline-block;
	width: 6px;
	height: 6px;
	background-color: #1659A3;
	border-radius: 50%;
	text-indent: 1;
}
.featureBlock {
	background-color: #D1DB58;
	display: flex;
	position: relative;
	border-radius: 20px;
	padding: 50px;
	max-width: 1020px;
	margin: 0 auto;
}
.featureBlock .item {
	width: calc((100%)/3);
}
.featureBlock .item + .item {
	margin-left: 55px;
}
.featureBlock .txtDesc {
	text-align: center;
	height: 20%;
    margin-bottom: 15px;
}
.featureImg {
	text-align: center;
	margin-top: 15px;
    margin-bottom: 45px;
}
.featureImg img {
	width: 100%;
	max-width: 132px;
}
@media screen and (max-width: 1500px) {
	.teamBlock {
		flex-direction: row;
	}
	.teamBlock .item {
		width: 50%;
	}
	.info .imgAvatar , .info .imgText {
		margin: 0;
		display: inline-block;
    	vertical-align: middle;
	}
	.info .imgAvatar {
		margin-right: 15px;
	}
}
@media screen and (max-width: 1200px) {
	.keyvInner {
		flex-direction: column;
	}
	.keyvInner .keyvImage, .keyvInner .keyvDesc {
		width: 100%;
	}
	.keyvInner .keyvImage {
		order: 1;
	}
	.keyvInner .keyvDesc {
		order: 2;
		margin-left: 0;
		display: inherit;
    	flex-direction: column;
    	align-items: center;
	}
	.txtDetail2 {
		text-align: center;
	}
	.btnLink {
		max-width: 100%;
	}
	.buttonTabs {
		justify-content: start;
	}
	.buttonTabs li {
		margin-bottom: 10px;
	}
	.descTabs .item .detail {
		width: 40%;
	}
}

@media screen and (max-width: 767px) {
	.txtDetail1 {
		font-size: 13px;
	}
	.txtDetail2 {
		font-size: 25px;
	}
	.btnLink {
		font-size: 16px;
	}
	.serviceBlock {
		flex-direction: column;
	}
	.serviceBlock .content, .serviceBlock .image {
		width: 100%;
		margin-left: 0;
	}
	.serviceBlock .content {
		font-size: 15px;
	}
	.serviceBlock .image {
		text-align: center;
	}
	.serviceBlock .image img {
		width: 25%;
		image-rendering: pixelated;
	}
	.keyvImage .cricle {
		font-size: 15px;
		width: 107px;
		height: 107px;
		right: -10px;
		bottom: 0;
	}
	.txtSymbol {
		font-size: 18px;
	}
	.groupButton .btnLink {
		margin-top: 20px;
	}
	.groupButton .btnStyle {
		margin-top: 15px;
	}
	#keyv {
		padding: 18px 0 40px 0;
	}
	.bgBlock {
		padding: 20px 0 25px;
		margin-bottom: 30px;
	}
	.buttonTabs {
		margin-bottom: 30px;
	}
	.buttonTabs li {
		width: calc(50% - 10px);
		margin: 0 10px 10px 0;
		display: inherit;
	}
	.descTabs .item {
		flex-direction: column;
	}
	.descTabs .item .photo {
		position: static;
		width: 100%;
		margin-left: 0;
		min-height: 158px;
		border-top-left-radius: 50px;
    	border-bottom-left-radius: 50px;
		image-rendering: -webkit-optimize-contrast;
	}
	.descTabs .item .detail {
		order: 2;
		width: 100%;
		margin-top: 35px;
	}
	.detailText {
		margin-bottom: 30px;
	}
	.detail .btnLink {
		padding: 25px 10px;
	}
	.teamBlock {
		flex-direction: column;
	}
	.teamBlock .item {
		width: 100%;
	}
	.teamBlock .item .txtDetail {
		text-align: left;
	}
	.secTitle {
		margin-top: 70px;
		margin-bottom: 30px;
	}
	.secTitle .highlight {
		font-size: 12px;
	}
	.headline3 {
		font-size: 25px;
	}
	.interface {
		flex-direction: column;
		margin-left: 0;
		margin-right: 0;
		margin-bottom: 30px;
	}
	.interface .item {
		width: 100%;
		margin: 0;
	}
	.guideBlock .txtDesc {
		text-align: justify;
		margin-bottom: 40px;
	}
	.txtTitle {
		font-size: 18px;
		padding: 5px;
		border-radius: 5px;
	}
	.txtFunction {
		font-size: 13px;
	}
	.guideBlock {
		margin-bottom: 75px;
	}
	.featureBlock {
		flex-direction: column;
		border-radius: 10px;
		padding: 40px;
	}
	.featureBlock .txtDesc {
		font-size: 18px;
	}
	.featureBlock .item {
		width: 100%;
		border-bottom: 1px dashed #fff;
		padding-bottom: 45px;
	}
	.featureBlock .item:last-child {
		border-bottom: none;
		padding-bottom: 0;
	}
	.featureBlock .item + .item {
		margin-left: 0;
	}
	.featureImg {
		margin-bottom: 25px;
	}
	.imgText img {
		width: 100%;
	}
}