@charset "UTF-8";
/* ****************************************************************** 

	--style.css--

	1. Style setting
		1-1. FontColor styles
		1-2. Headline styles

	2. Layout setting
		2-1. Base styles
		2-2. Header styles
		2-3. Navi styles
		2-4. Main styles
		2-5. Side styles
		2-6. Footer styles

****************************************************************** */

/*==================================================================
	1. Style setting
===================================================================*/

/* ------------------------------------------------------------------
	1-1. FontColor styles
-------------------------------------------------------------------*/
html { color:#333; }
html { background-color:#E8E8E8; }
body { background-color:#FFF; font-family: 'Hiragino Kaku Gothic Pro';}


/* ------------------------------------------------------------------
	1-2. Headline styles
-------------------------------------------------------------------*/




/*==================================================================
	2. Layout setting
===================================================================*/

/* ------------------------------------------------------------------
	2-1. Base styles
-------------------------------------------------------------------*/
.inner01 {
	width: 100%;
	max-width: 1430px;
	padding: 0 15px;
	margin: 0 auto;
}
.inner02 {
	width: 100%;
	max-width: 940px;
	padding: 0 15px;
	margin: 0 auto;
}
.inner03 {
	width: 100%;
	max-width: 1050px;
	padding: 0 15px;
	margin: 0 auto;
}
#keyv {
	padding: 90px 0;
	background-color: #24C3D8;
}
.headline1 {
	font-family: 'YuGothic' ;
	font-size: 70px;
	line-height: 1.3;
	font-weight: bold;
	color: #FFF;
	margin-bottom: 20px;
}
.headline2 {
	font-size: 31px;
	font-weight: bold;
	line-height: 2;
	margin-bottom: 20px;
}
.headline4 {
	position: absolute;
	top: -10px;
	left: 50%;
	transform: translateX(-50%);
	color: #222222;
	font-size: 36px;
	font-weight: bold;
}
.btnStyle {
	color: #1563AE !important;
	background-color: #fff !important;
}
.btnStyle::after {
	border-top-color: #1563AE !important;
	border-left-color: #1563AE !important;
}
.txtDesc {
	font-size: 18px;
	font-weight: bold;
	color: #222222;
	line-height: 2;
}
.highlight {
	font-size: 18px;
	color: #1659A3;
}
.note {
	color: #696969;
	font-size: 13px;
	margin-bottom: 10px;
}
.txtDetail3 {
	font-size: 15px;
	color: #222222;
	line-height: 1.8;

}
.pcDisplay {
	display: block;
}
.spDisplay {
	display: none;
}
.bgTeam01 {
	background-color: #1659A3 !important;
}
.bgLabel01 {
	background-color: #103E87 !important;
}
.bgTeam02 {
	background-color: #06AE4E !important;
}
.bgLabel02 {
	background-color: #059537 !important;
}
.bgTeam03 {
	background-color: #EF4D88 !important;
}
.bgLabel03 {
	background-color: #EA3664 !important;
}
@media screen and (max-width: 1200px) {
	.headline1 {
		text-align: center;
	}
	.pcDisplay {
		display: none;
	}
	.spDisplay {
		display: block;
	}
}

@media screen and (max-width: 767px) {
	.headline1 {
		font-size: 43px;
	}
	.headline2 {
		font-size: 20px;
		line-height: 1.8;
	}
	.txtDesc , .highlight{
		font-size: 13px;
	}
	.note {
		font-size: 11px;
	}
	.headline4 {
		font-size: 23px;
	}
	.txtDetail3  {
		font-size: 13px;
	}
}
/* ------------------------------------------------------------------
	2-2. Header styles
-------------------------------------------------------------------*/
#header {
	
}


/* ------------------------------------------------------------------
	2-3. Navi styles
-------------------------------------------------------------------*/
#navi {
}


/* ------------------------------------------------------------------
	2-4. Main styles
-------------------------------------------------------------------*/
#main {
	
}


/* ------------------------------------------------------------------
	2-5. Side styles
-------------------------------------------------------------------*/
#side {
	
}


/* ------------------------------------------------------------------
	2-6. Footer styles
-------------------------------------------------------------------*/
#footer {
	clear:both;
}